:root {

  --THEME_COLOR_MODULE_ONE_STRONG: #1A4353;
  --THEME_COLOR_MODULE_ONE_LIGHT: #43AAB5;
  --THEME_COLOR_MODULE_ONE_SUPER_LIGHT: #FBBF09;
  --THEME_COLOR_MODULE_ONE: #2F7787;
  --THEME_FONT_COLOR: #1a1a1a;

  }