/* FREE USER STYLE */

body {
  overflow-y: scroll;
  margin-top: 150px;
}

@media screen and (max-width: 991px) {
  body {
    margin-top: 100px;
  }
}

section {
  margin-top: 15px;
  margin-bottom: 15px;
}
  
.image-responsive {
  width: 100%;
  margin-bottom: 32px;
}

.color-box {
  height: 100px;
  color: black;
  font-size: 30px;
  font-weight: 900;
  text-align: center;
}

.color-white{
  color:white;
}
.color-black{
  color:black;
}

.color-box p {
  padding-top: 28px;
}

.listagem ul {
  list-style: circle !important;
  margin-left: 20px;
}

.color-light {
  color: var(--THEME_COLOR_MODULE_ONE_LIGHT);
}

/* novo */
h4.modal-title {
  color: var(--THEME_COLOR_MODULE_ONE);
  margin-top: 0;
}

/* NOVO */
.modal-body {
  position: relative;
  -ms-flex: 1 1 auto;
  flex: 1 1 auto;
  padding: 0 20px;
  margin-top: 0;
}



@media (max-width: 567px) {
  .flipster_carousel_slides {
    white-space: nowrap;
    display: inline-flex;
    margin-left: 18vw;
  }
  
  .flipster_carousel-set {
    height: 240px;
    width: 240px;
    display: flex;
    position: relative;
    perspective: 800px;
  }
}



/* NOVO */

.aos-rw {
  position: relative;
  width: 100%;
}

.aos-rm {
  position: relative;
  width: 290px;
}


/* NOVO */

.aos-pa {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
}